<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">{{title}}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <form class="navbar-left form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Problem" aria-label="Search">
      </form>

      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
          <button type="button" class="btn btn-primary" *ngIf="!auth.authenticated()"
        (click)="login()">Sign in</button>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <a class="dropdown-item" href="#">My Favorites</a>
            <a class="dropdown-item" href="#">My Submission</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" *ngIf="auth.authenticated()"
        (click)="logout()">Log out</a>
          </div>
        </li>

      </ul>

    </div>
  </nav>
</div>
